#feedback {
  padding: 64px 0;
  @media screen and (min-width: 768px) and (max-width: 1439px) {
    padding: 32px 0;
  }
}

.feedback-title {
  margin-bottom: 24px;
}

.feedback-descr {
  margin-bottom: 80px;
}

.rating-list {
  display: flex;
  margin-bottom: 24px;
}

.rating-item {
  height: 20px;
}

.feedback-slide-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    font-size: 20px;
  }
}

.feedback-slide-name {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.6;
}

.feedback-controls {
  margin-top: 48px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.swiper-pagination {
  position: static !important;
  margin-left: 40px;
}

.swiper-pagination-bullet-active {
  background-color: var(--color-scheme-1-text) !important;
}

.feedback-buttons {
  display: flex;
  gap: 16px;
}

.swiper-button-prev,
.swiper-button-next {
  position: static !important;

  width: 48px !important;
  height: 48px !important;
  padding: 12px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  background-color: var(--color-scheme-1-foreground);
  border: 1px solid var(--opacity-neutral-darkest-15);

  fill: var(--color-scheme-1-text);

  &:hover,
  &:focus-visible {
    background-color: var(--color-madang-light);
    fill: var(--color-scheme-1-background);
  }

  &:active {
    background-color: var(--color-madang);
    fill: var(--color-scheme-1-background);
  }

  &:disabled {
    opacity: 0.3 !important;
  }
}

.swiper-button-prev::after,
.swiper-button-prev::before,
.swiper-button-next::after,
.swiper-button-prev::before {
  display: none;
}

.feedback-loader {
  margin: 0 auto;
}

:root {
  --color-scheme-1-text: var(--color-neutral-darkest);
  --color-scheme-1-accent: var(--color-neutral-darkest);
  --color-scheme-1-border: var(--opacity-neutral-darkest-15);
  --color-scheme-1-background: var(--color-white);
  --color-scheme-1-foreground: var(--color-neutral-lightest);

  --color-scheme-2-text: var(--color-neutral-darkest);
  --color-scheme-2-accent: var(--color-neutral-darkest);
  --color-scheme-2-border: var(--opacity-neutral-darkest-15);
  --color-scheme-2-background: var(--color-madang-lightest);
  --color-scheme-2-foreground: var(--color-madang-lighter);

  --color-white: #fff;

  --color-neutral-lightest: #f2f2f2;
  --color-neutral-lighter: #d9dada;
  --color-neutral-light: #b4b6b5;
  --color-neutral: #838584;
  --color-neutral-dark: #525452;
  --color-neutral-darker: #202421;
  --color-neutral-darkest: #080c09;

  --color-madang-lightest: #f0e6e6;
  --color-madang-lighter: #e1cdcd;
  --color-madang-light: #975052;
  --color-madang: #6b0609;
  --color-madang-dark: #550407;
  --color-madang-darker: #2a0203;
  --color-madang-darkest: #200102;

  --opacity-transparent: rgba(255, 255, 255, 0);

  --opacity-white-5: rgba(255, 255, 255, 0.05);
  --opacity-white-10: rgba(255, 255, 255, 0.1);
  --opacity-white-15: rgba(255, 255, 255, 0.15);
  --opacity-white-20: rgba(255, 255, 255, 0.2);
  --opacity-white-30: rgba(255, 255, 255, 0.3);
  --opacity-white-40: rgba(255, 255, 255, 0.4);
  --opacity-white-50: rgba(255, 255, 255, 0.5);
  --opacity-white-60: rgba(255, 255, 255, 0.6);

  --opacity-neutral-darkest-5: rgba(8, 12, 9, 0.05);
  --opacity-neutral-darkest-10: rgba(8, 12, 9, 0.1);
  --opacity-neutral-darkest-15: rgba(8, 12, 9, 0.15);
  --opacity-neutral-darkest-20: rgba(8, 12, 9, 0.2);
  --opacity-neutral-darkest-30: rgba(8, 12, 9, 0.3);
  --opacity-neutral-darkest-40: rgba(8, 12, 9, 0.4);
  --opacity-neutral-darkest-50: rgba(8, 12, 9, 0.5);
  --opacity-neutral-darkest-60: rgba(8, 12, 9, 0.6);

  --font-family: 'Raleway', sans-serif;
  --second-family: 'IBM Plex Sans', sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
