#feedback {
  padding: 64px 0;
  @media screen and (min-width: 768px) and (max-width: 1439px) {
    padding: 32px 0;
  }
}

.feedback-title {
  margin-bottom: 24px;
}

.feedback-descr {
  margin-bottom: 80px;
}

.rating-list {
  display: flex;
  margin-bottom: 24px;
}

.rating-item {
  height: 20px;
}

.feedback-slide-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    font-size: 20px;
  }
}

.feedback-slide-name {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.6;
}

.feedback-controls {
  margin-top: 48px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feedback-buttons {
  display: flex;
  gap: 16px;
}
