<section class="about" id="about">
  <div class="container about-container">
    <div class="about-text">
      <h2>Про Меблерію</h2>
      <p>
        У Меблерії ми прагнемо створювати затишок та функціональність у кожному домі. Наша місія —
        пропонувати високоякісні меблі, що поєднують у собі сучасний дизайн, довговічність та
        доступність. Ми віримо, що ідеальний інтер'єр починається з правильних меблів.
      </p>
    </div>
    <div class="about-image">
      <picture>
        <source
          srcset="/img/webp/about/about-desk.webp 1x, /img/webp/about@2x/about-desk@2x.webp 2x"
          media="(min-width: 1440px)"
        />

        <source
          srcset="/img/webp/about/about-tab.webp 1x, /img/webp/about@2x/about-tab@2x.webp 2x"
          media="(min-width: 768px)"
        />

        <img
          src="/img/webp/about/about.webp"
          srcset="/img/webp/about@2x/about@2x.webp 2x"
          alt="Меблерія"
        />
      </picture>
    </div>
  </div>
</section>
