<section class="furniture" id="furniture">
  <div class="container furniture-container">
    <div>
      <h2 class="furniture-hdr">Наші меблі</h2>
      <p class="furniture-prgrf">Знайдіть ідеальні рішення для вашого інтер'єру</p>
    </div>

    <ul class="furniture-categories"></ul>

    <ul class="furniture-cards"></ul>
    <span id="loader" class="loader furniture-loader"></span>
    <div class="button-wrapper">
      <button class="furniture-load-more">Показати ще</button>
    </div>
  </div>
</section>
