<section class="furniture" id="furniture">
  <div class="container furniture-container">
    <h2 class="section-title">Наші меблі</h2>
    <h3 class="section-subtitle">Знайдіть ідеальні рішення для вашого інтер'єру</h3>
    <ul class="categories">
      <li class="categories-item">
        <button class="categories-btn all-category accent" id="all-categories">Всі товари</button>
      </li>
    </ul>
    <ul class="furniture-list"></ul>
    <button class="show-more-btn visually-hidden">Показати ще</button>
    <div class="loader visually-hidden"></div>
  </div>
</section>
