<!-- кнопка для тесту модального вікна -->

<div class="order" id="order">
  <div class="order-backdrop visually-hidden" data-order>
    <div class="order-modal">
      <button class="order-close-btn" type="button" data-order-close>
        <svg class="order-close-icon" width="32" height="32">
          <use href="/img/sprite.svg#x"></use>
        </svg>
      </button>

      <h2 class="order-title">Замовити зворотний зв'язок</h2>

      <form class="order-form" id="order-form">
        <div class="order-form-group">
          <label class="order-form-label"
            >Email*
            <input
              class="order-form-input"
              type="email"
              name="email"
              id="order-email"
              placeholder="example@email.com"
              required
              autocomplete="email"
              title="Формат: example@email.com"
          /></label>
          <p class="input-error-message" id="email-error"></p>
        </div>

        <div class="order-form-group">
          <label class="order-form-label"
            >Телефон*
            <input
              class="order-form-input"
              type="tel"
              name="phone"
              id="order-phone"
              placeholder="+38 (099) 123 22 11"
              required
              autocomplete="tel"
          /></label>
          <p class="input-error-message" id="phone-error"></p>
        </div>

        <div class="order-form-group">
          <label class="order-form-label"
            >Коментар
            <textarea
              class="order-form-textarea"
              name="comment"
              id="order-comment"
              placeholder="Type your message..."
              minlength="5"
              maxlength="256"
              title="Від 5 до 256 символів"
            ></textarea>
          </label>
          <p class="input-error-message" id="comment-error"></p>
        </div>

        <button class="order-submit-btn" type="submit">Надіслати заявку</button>
      </form>
    </div>
  </div>
</div>
